@using Microsoft.AspNetCore.Components
@using Microsoft.AspNetCore.Components.Web
@page "/about";

    <div style="padding:20px;">
        <h1 style="color: #5e9ca0;">About</h1>
        <p>&nbsp;</p>
        <p><strong>Thank you for trying PokerOddsPro!</strong></p>
        <p><strong>This project was created as an experiment trying out the new programming language Blazor WebAssembly! It is one of the first projects created on the official release.</strong></p>
        <p><strong>You can find the full source code on Github <a href="https://github.com/dyh1213/PokerOddsProPWA">HERE</a>.</strong></p>
    </div>

@code {

}
