@using Microsoft.AspNetCore.Components.Web
@inherits LayoutComponentBase

<div class="sidebar">
    <NavMenu />
</div>

<div class="main" style="padding:0px !important">
    <div style="height: 100%;">
        @Body
    </div>
</div>

