.card-selection {
    border-width: 2px;
    background-color: white;
    border-style: solid;
    border-color: #333333;
    float: left;
    display: inline-block;
    text-align: center;
    position: relative;
    transition: opacity cubic-bezier(0, 0.52, 1, 1) 1s
}

    .card-selection.disabled {
        opacity: 0.5;
    }

    .card-selection.active {
        cursor: pointer;
    }

        .card-selection.active:hover {
            background-color: grey;
        }

        .card-selection.active:active {
            border-width: 5px;
        }

    .card-selection.Vertical {
        height: 7.69%;
        min-height: 50px;
        min-width: 112px;
        width: 100%;
        display: flex;
        align-items: center;
    }

    .card-selection.Horizonal {
        height: 58px;
        min-width: 10px;
        width: 7.69%;
    }

    .card-selection.simple-button {
        float: left;
        height: 50px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: bold;
        font-size: 24px;
    }

.Vertical.suit-image {
    width: 30px;
    height: 30px;
    vertical-align: middle;
    float: right;
}

.Vertical.suit-container {
    flex: 1;
    margin-right: 10px;
}

.Vertical.number-container {
    flex: 0;
    font-size: 40px;
    line-height: 40px;
    margin-left: 10px;
    font-weight: bolder;
}

.Horizonal.suit-image {
    width: 20px;
    height: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
    vertical-align: middle;
}

.Horizonal.suit-container {
    float: left;
    width: 100%;
    display: table-cell;
}

.Horizonal.number-container {
    float: left;
    font-size: 20px;
    line-height: 20px;
    font-weight: bolder;
    vertical-align: middle;
    width: 100%;
    margin-top: 5px
}


@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-o-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-ms-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }